[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
jupyter = "*"
SQLAlchemy = "*"
dash-auth = "*"
PyMySQL = "*"
python-dotenv = "*"
pymysql = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3.8"
